@import './common';
@import './example';

:root {
  --clr-background-primary: #1c1e27;
  --clr-background-secondary: #20232f;
  --clr-hover-primary: #40e3ae;
  --clr-select: #354f60;
  --clr-primary: #748999;
  --clr-primary-bright: #fff;
  --clr-secondary: #6c889a;
}

img {
  display: block;
  width: 100%;
  max-width: 100%;
  height: auto;
}

body {
  background-color: var(--clr-background-primary);
  color: var(--clr-primary);
}

.container {
  width: 1440px;
}

.search-form {
  background-color: var(--clr-background-secondary);
  padding: 20px;
  // margin-bottom: 20px;
  text-align: center;
}

.search-field {
  position: relative;
  max-width: 360px;
  margin: 0 auto;
}

.search-input {
  height: 40px;
  width: 100%;
  border: none;
  outline: none;
  padding-left: 20px;
  border-radius: 20px;
  background-color: var(--clr-select);
  color: var(--clr-primary-bright);
}

.search-input::placeholder {
  color: var(--clr-secondary);
}

.search-button {
  position: absolute;
  right: 0;
  width: 40px;
  height: 40px;
  border: none;
  background-color: var(--clr-primary);
  // border: 1px solid var(--clr-background-secondary);
  border-radius: 0 20px 20px 0;
  cursor: pointer;
  transition: background-color 500ms;
}

.search-button:hover {
  background-color: var(--clr-hover-primary);
}

.gallery {
  display: flex;
  flex-wrap: wrap;
}

.photo-card:nth-child(even) {
  background-color: var(--clr-background-secondary);
}

.photo-card {
  width: calc(100% / 4);
}

@media (max-width: 1440px) {
  .photo-card {
    width: calc(100% / 3);
  }
}

@media (max-width: 1200px) {
  .photo-card {
    width: calc(100% / 2);
  }
}

@media (max-width: 768px) {
  .photo-card {
    width: 100%;
  }
}

.card-img {
  object-fit: cover;
  object-position: center;
  height: 320px;
}

@media (max-width: 1200px) {
  .card-img {
    min-height: 400px;
  }
}

@media (max-width: 768px) {
  .card-img {
    height: auto;
    min-height: auto;
  }
}

.info {
  display: flex;
  text-align: center;
  justify-content: center;
  column-gap: 20px;
}

.info-item {
  display: flex;
  flex-direction: column;
}

.icon-svg {
  width: 18px;
  height: 18px;
}

.load-more {
  display: block;
  border: none;
  margin: 20px auto;
  height: 40px;
  width: 200px;
  border-radius: 20px;
  background-color: var(--clr-secondary);
  color: var(--clr-primary-bright);
  margin: 20px auto;
  transition: background-color 500ms;
  cursor: pointer;
}

.load-more:hover {
  background-color: var(--clr-hover-primary);
}

.is-hidden {
  display: none;
}
